.home {
  background-color: #252525;
  width: 100vw;
  height: fit-content;
  transform: translateY(11vh);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/*===========================
========PRESENTATION=========
===========================*/

.presentation {
    background-image: url("../../assets/backgrounds/presentation-movile.jpg");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 85vh;
    border-bottom: .6vh solid rgb(255, 111, 0);
}
.topPresentationText {
  background: linear-gradient(#030406, #000);
  width: 100vw;
  height: calc(85vh - 480px);
  text-align: center;
  padding-top: 5vh;
}
@media screen and (min-width: 480px){
    .presentation {
        background-image: url("../../assets/backgrounds/presentation-desktop.jpg");
    }
    .topPresentationText{
        background: linear-gradient(#000 50%, rgba(0, 0, 0, 0));
        height: calc(85vh - 500px);
    }
}
.topPresentationText h1, .topPresentationText h2{
    font-weight: 100;
}

.topPresentationText h2{
    margin-top: 2vh;
}

.goToBtn{
    font-weight: 300;
    color: rgb(255, 144, 59);
    margin-top: 3vh;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.3em;
    z-index: 100;
}

/*===========================
===========BUILD=============
===========================*/

.homeBuild{
    width: 100vw;
    height: fit-content;
    max-height: 80vh;
    background-image: url("../../assets/backgrounds/stone-background.jpg");
    text-align: center;
    padding: 5vh;
    border-bottom: .6vh solid rgb(255, 111, 0);
}
.homeBuild h1{
    font-weight: 100;
}
.homeGrphicsCardImgs{
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-height:60vh;
}

/*===========================
============HIRE=============
===========================*/
.homeHire{
    width: 100vw;
    height: 60vh;
    background-image: url("../../assets/backgrounds/server-background.jpg");
    background-position-x: center;
    text-align: center;
    border-bottom: .6vh solid rgb(255, 111, 0);
}
.homeHireFilter{
    padding: 5vh;
    width: 100%;
    background: linear-gradient(black 30%, rgba(0, 0, 0, .0));
}
.homeHire h1{
    font-weight: 100;
}

/*===========================
=============US==============
===========================*/
.homeUs{
    width: 100vw;
    height: 50vh;
    max-height: calc(650px - 10vh);
    background-image: url("../../assets/backgrounds/us-background-mobile.jpeg");
    background-position-x: center;
    text-align: center;
    border-bottom: .6vh solid rgb(255, 111, 0);
}
.homeUsFilter{
    padding: 5vh;
    width: 100%;
    background: linear-gradient(black 30%, rgba(0, 0, 0, .0));
}
.homeUs h1{
    font-weight: 100;
}
@media screen and (min-width: 1472px){
    .homeUs{
        background-image: url("../../assets/backgrounds/us-background.jpeg");
    }
    .homeUsFilter{
        padding: 5vh;
        width: 100%;
        background: linear-gradient(black 30%, rgba(0, 0, 0, .0));
    }
}

/*===========================
===========CONTACT===========
===========================*/
.homeContact{
    width: 100vw;
    height: 50vh;
    max-height: 380px;
    background-image: url("../../assets/backgrounds/people1.jpeg");
    background-position-x: center;
    text-align: center;
    border-bottom: .6vh solid rgb(255, 111, 0);
    background-repeat: no-repeat;
}
.homeContactFilter{
    padding: 5vh;
    width: 100%;
    background: linear-gradient(black 30%, rgba(0, 0, 0, .0));
}
.homeContact h1, .homeContact h2{
    font-weight: 100;
}
.homeContact h2{
    margin-top: 2vh;
}
@media screen and (min-width: 1472px){
    .homeContact{
        background-size: cover;
    }
    .homeContactFilter{
        padding: 5vh;
        width: 100%;
        background: linear-gradient(black 30%, rgba(0, 0, 0, .0));
    }
}