.loadingContainer{
    width: 90vw;
    height: 75%;
    max-width: 900px;
    transform: translateY(-5vh);
    padding: 5vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.loadingContainer .results{
    display: none;
}

.showBudgetContainer{
    width: 90vw;
    height: 75%;
    max-width: 900px;
    transform: translateY(-5vh);
    background-color: rgba(15, 15, 15, 0.5);
    border-left: 1px solid rgb(255, 111, 0);
    padding: 2vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.showBudgetContainer .results{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resultCell{
    width: 90%;
    height: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultCell img{
    width: 25%;
}

.resultCellInfo{
    width: 70%;
    overflow-x: visible;
    height: 100%;
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 768px){
    .resultCell{
        height: 10%;
        justify-content: space-evenly;
    }
    .resultCell img{
        width: auto;
    }
}