/*=====================================
=============BACK BUTTON===============
=====================================*/

.backButton {
  font-size: 1.2em;
  padding: 0.5em 0.6em;
  background-color: black;
  position: absolute;
  left: 5vw;
  bottom: 5vh;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--inv);
}
.fa-arrow-left {
  color: var(--inv);
  font-size: 1em;
}

.backButton:hover {
  background-color: var(--inv);
}

.backButton:hover .fa-arrow-left {
  color: white;
}

/*=====================================
=========NEXT INSTRUCTION==============
=====================================*/

.nextInstruction {
  font-size: 1.2em;
  padding: 0.5em 0.6em;
  background-color: black;
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--inv);
}
.fa-arrow-right {
  color: var(--inv);
  font-size: 1em;
}

.nextInstruction:hover {
  background-color: var(--inv);
}

.nextInstruction:hover .fa-arrow-right {
  color: white;
}

/*=====================================
============CUSTOM BUTTON==============
=====================================*/

.customButton {
  font-size: 1.2em;
  padding: 0.5em 0.6em;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--inv);
  display: flex;
  align-items: center;
}

.customButton:hover {
  background-color: var(--inv);
}

/*=====================================
=============NEXT BUTTON===============
=====================================*/

.nextBtn {
  position: relative;
  padding: 0.7rem 2.1rem;
  font-size: 1rem;
  color: var(--inv);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  transform: translateY(3vh);
}

.nextBtn:before,
.nextBtn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.nextBtn:hover {
  color: var(--def);
  transition-delay: 0.5s;
}

.nextBtn:hover:before {
  transition-delay: 0s;
}

.nextBtn:hover:after {
  background: var(--inv);
  transition-delay: 0.35s;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

/*=====================================
=============TEXT INPUTS===============
=====================================*/

.form_group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 300;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form_field::placeholder {
  color: transparent;
}
.form_field:placeholder-shown ~ .form_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form_field:focus {
  padding-bottom: 6px;
  font-weight: 300;
  border-width: 3px;
  border-image: linear-gradient(to right, rgb(255, 111, 0), rgb(255, 166, 0));
  border-image-slice: 1;
}
.form_field:focus ~ .form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(255, 111, 0);
  font-weight: 700;
}
.form_field:required,
.form_field:invalid {
  box-shadow: none;
}

/*=====================================
=============BIG BUTTON===============
=====================================*/

.bigButton:hover {
  cursor: pointer;
  background-color: rgba(255, 111, 0, 0.3);
  -webkit-box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
  -moz-box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
  box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
}
.bigButton {
  background: transparent;
  outline: none;
  position: relative;
  border: 1px solid #ff6f00cc;
  overflow: hidden;
  width: 60%;
  height: 40%;
  color: white;
  font-size: 2em;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigButton:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.bigButton:before {
  content: attr(data-hover);
  position: absolute;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.6em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.bigButton:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.bigButton div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
.bigButtonSelected{
  cursor: pointer;
  background-color: rgba(255, 111, 0, 0.3);
  -webkit-box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
  -moz-box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
  box-shadow: 0px 0px 26px -2px rgba(255, 111, 0, 0.64);
}
