/*===========================
============MOVILE=========== 
=============================*/

.header {
  width: 100vw;
  height: 11vh;
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 1vh solid rgb(255, 111, 0);
  z-index: 50;
}
.headerLogoMovile {
  height: 8vh;
  margin-top: 1vh;
  margin-left: 5vw;
  cursor: pointer;
}
.headerLogoMovile img {
  height: 100%;
}
.hamburger {
  height: 7vh;
  margin-left: calc(90vw - 16vh);
  margin-top: 1.5vh;
  z-index: 30;
}
.hamburger img {
  height: 100%;
}
.hideMenu {
  width: 100vw;
  left: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s;
  z-index: 0 !important;
}
.showMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s;
  left: 0;
  z-index: 99;
}
.transparentPart {
  height: 100vh;
  width: 30vw;
  background-color: rgba(5, 5, 5, 0.3);
}
.solidPart {
  height: 100vh;
  width: 70vw;
  background-color: black;
}
.closeMenu{
    height: 2vh;
    width: 5vw;
    margin-left: 55vw;
    margin-top: 1vh;
    cursor: pointer;
    color: white;
    font-size: 2em;

}
.headerMenu {
  color: white;
  width: 100%;
  height: 60%;
  margin-top: 7vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menuTittle {
  font-size: 1.5em;
  width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-color: rgba(255, 255, 255, 0.1);
}
.menuItem {
  width: 100%;
  padding: 0.6vh;
  font-size: 1.2em;
  transition: all .1s;
}
.selected {
  background-color: #a64200;
  width: 110%;
  transform: translateX(-3.5vw);
  -webkit-box-shadow: 20px 26px 25px -15px rgba(163, 87, 29, 1);
  -moz-box-shadow: 20px 26px 25px -15px rgba(163, 87, 29, 1);
  box-shadow: 20px 26px 25px -15px rgba(163, 87, 29, 1);
}



/*===========================
============DESKTOP=========== 
=============================*/

@media only screen and (min-width: 1025px){
    .hamburger{
        display: none;
    }
    .desktopMenu{
        width: 60vw;
        margin-left: 15vw;
        align-items: center;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        transition: all 0.3s;
        color: white;
    }
    .menuItem {
        width: 10vw;
        padding: 0.6vh;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .1s;
        cursor: pointer;
    }
    .menuItem:hover{
        background-color: #a6420094;
        width: 10vw;
        transform: translateX(0);
        -webkit-box-shadow: 10px 16px -5px -5px rgba(163, 87, 29, 1);
        -moz-box-shadow: 10px 16px -5px -5px rgba(163, 87, 29, 1);
        box-shadow: 10px 16px -5px -5px rgba(163, 87, 29, 1);
    }
    .selected {
        background: linear-gradient(180deg, #a64200 50%, rgb(255, 111, 0))  !important;
        width: 10vw;
        transform: translateX(0);
        box-shadow: none !important;
      }
}
