.instrucciones{
    background-color: black;
    height: 89vh;
    width: 100vw;
    transform: translateY(11vh);
    overflow: hidden;
}
.instructionContainer{
    background-color: rgba(100, 100, 100, .15);
    width: 90vw;
    height: fit-content;
    margin-left: 5vw;
    margin-top: 10%;
    border-left: 1px solid var(--inv);
    color: whitesmoke;
    text-align: center;
    padding: 1em .7em;
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.instructionTitle{
    font-size: 2em;
}
.instructionDescription{
    transform: translateY(1em);
    font-size: 1.1em;
}
.instructionArrowContainer{
    width: 95%;
    margin-left: 2.5%;
    height: 3em;
    transform: translateY(12vh);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media only screen and (min-width: 768px){
    .instructionContainer{
        width: 40vw;
        margin-left: 30vw;
    }
}