.presupuesto{
    width: 100vw;
    height: 89vh;
    background-color: black;
    transform: translateY(11vh);
    display: flex;
    align-items: center;
    justify-content: center;    
}
/*=====================================
==============MONEY INPUT==============
==================================== */

.MoneyInputDiv{
    width: 90vw;
    height: 60%;
    max-width: 900px;
    transform: translateY(-5vh);
    background-color: rgba(15, 15, 15, 0.5);
    border-left: 1px solid rgb(255, 111, 0);
    padding: 5vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.MoneyInputDiv h1{
    font-size: 35px;
    font-weight: 300;
}

/*=====================================
==============KIND INPUT==============
==================================== */

.KindInputDiv{
    width: 90vw;
    height: 60%;
    max-width: 900px;
    transform: translateY(-5vh);
    background-color: rgba(15, 15, 15, 0.5);
    border-left: 1px solid rgb(255, 111, 0);
    padding: 5vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/*=====================================
=========settings Container============
==================================== */

.settingsContainer{
    width: 90vw;
    height: 75%;
    max-width: 900px;
    transform: translateY(-5vh);
    background-color: rgba(15, 15, 15, 0.5);
    border-left: 1px solid rgb(255, 111, 0);
    padding: 5vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.settingsContainer h3{
    margin-top: 5vh;
    font-weight: 300;
}

.settingsContainer .buttonsContainer{
    width: 100%;
    height: 5vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}